@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import "tailwindcss";

/* Cherry Bomb Font */
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}


:root {
  /* Color Variables */
  --color-text-primary: #777777;
  --color-bg-light: #E8E8E8;
  --color-primary: #3491E8;
  --color-primary-dark: #2C4F7A;
  --color-white: #ffffff;
  --color-black: #000000;
  
  /* Font Variables */
  --font-cherry-bomb: 'Cherry Bomb', cursive;
  --font-geist: var(--font-geist-sans);
}



